@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    font-family: "Comfortaa", "Arial", "sans-serif";
    font-weight: 700;
}

body {
    color: #fff;
}

.container {    
    display: block;
    margin: 0 auto;
}


.weather-container {
    display: flex;
}

.time {
    display: inline-block;
    margin: auto;
}

.time p {
    font-size: 2em;
    text-align: center;
    margin: 0.1em;
}

.weather-icon {
    display: inline-block;
    margin: auto;
}

.weather-icon img {
    width: 200px;
    height: 200px;
}

.weather-value {
    display: inline-block;
    margin: auto;
}

.weather-value p {
    padding: 0;
    margin: 0;
    font-size: 4em;
    text-align: center;
}

.weather-value span {
    display: inline-block;
    padding: 0.15em;
    font-size: 0.5em;
    vertical-align: top;
}
